body 
{
background-image: url(img/dark_fish_skin.png); 
margin: 0;
}

.container
{
	background-color:white;
	width:900px;
	height:500px;
	margin: auto ; 
}

.logo
{
	background-color:gray;
	width:900px;
	height:100px;
	 margin: auto ; 
}

.menu
{
	background-color:black;
	width:900px;
	height:200px;
	margin: auto ; 
}

.nav
{
	background-color:pink;
	width:200px;
	height:200px;
	
	float:left;
}



.content
{
	background-color:blue;
	width:500px;
	height:200px;
	float: left;
}

.sidebar
{
	background-color:skyblue;
	width:200px;
	height:200px;
	
	float: left ; 
}

.footer
{
	background-color:yellow;
	width:900px;
	height:100px;
	
	clear:both;
}